workflows/ai-code-review-pipeline.json
{
  "name": "AI Code Review Pipeline",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-action",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "opened",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "node-validate",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Invalid webhook payload. Expected PR event with action opened or synchronize.', received_action: $json.body.action || 'none' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "node-reject",
      "name": "Reject Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        752,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst pr = body.pull_request;\n\nif (!pr) {\n  throw new Error('No pull_request object found in webhook payload');\n}\n\nreturn [{\n  json: {\n    prNumber: pr.number,\n    repo: body.repository.full_name,\n    repoOwner: body.repository.full_name.split('/')[0],\n    repoName: body.repository.full_name.split('/')[1],\n    author: pr.user.login,\n    title: pr.title,\n    description: pr.body || '',\n    diffUrl: pr.diff_url,\n    sha: pr.head.sha,\n    branch: pr.head.ref,\n    baseBranch: pr.base.ref,\n    additions: pr.additions || 0,\n    deletions: pr.deletions || 0,\n    changedFiles: pr.changed_files || 0,\n    htmlUrl: pr.html_url,\n    timestamp: new Date().toISOString(),\n    startTime: Date.now()\n  }\n}];"
      },
      "id": "node-extract",
      "name": "Extract PR Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo }}/pulls/{{ $json.prNumber }}/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "node-fetch-diff",
      "name": "Fetch PR Diff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1M12T0Y7Ova8loxW",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "response": {
            "response": {}
          }
        },
        "jsonBody": "={{ JSON.stringify($json.securityBody) }}"
      },
      "id": "node-ai-security",
      "name": "AI Security Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "response": {
            "response": {}
          }
        },
        "jsonBody": "={{ JSON.stringify($json.performanceBody) }}"
      },
      "id": "node-ai-performance",
      "name": "AI Performance Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "response": {
            "response": {}
          }
        },
        "jsonBody": "={{ JSON.stringify($json.practicesBody) }}"
      },
      "id": "node-ai-practices",
      "name": "AI Best Practices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        520
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 3,
        "options": {}
      },
      "id": "node-merge",
      "name": "Merge AI Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction parseGeminiResponse(item) {\n  try {\n    if (!item || !item.json) return { score: 50, severity: 'medium', findings: [], summary: 'No data received' };\n    const d = item.json;\n    if (d.candidates && d.candidates[0] && d.candidates[0].content) {\n      return JSON.parse(d.candidates[0].content.parts[0].text);\n    }\n    if (d.score !== undefined) return d;\n    return { score: 50, severity: 'medium', findings: [], summary: 'Unexpected format' };\n  } catch (e) {\n    return { score: 50, severity: 'medium', findings: [], summary: 'Parse error: ' + e.message };\n  }\n}\n\nconst security = parseGeminiResponse(items[0]);\nconst performance = parseGeminiResponse(items[1]);\nconst practices = parseGeminiResponse(items[2]);\n\nconst compositeScore = Math.round(\n  (security.score * 0.4) + (performance.score * 0.3) + (practices.score * 0.3)\n);\n\nlet verdict;\nif (compositeScore >= 80) verdict = 'APPROVE';\nelse if (compositeScore >= 50) verdict = 'REQUEST_CHANGES';\nelse verdict = 'REJECT';\n\nif ((security.findings || []).some(f => f.severity === 'critical')) verdict = 'REJECT';\n\nconst prData = $node['Extract PR Data'].json;\n\nreturn [{\n  json: {\n    prNumber: prData.prNumber,\n    repo: prData.repo,\n    repoOwner: prData.repoOwner,\n    repoName: prData.repoName,\n    author: prData.author,\n    title: prData.title,\n    branch: prData.branch,\n    baseBranch: prData.baseBranch,\n    sha: prData.sha,\n    htmlUrl: prData.htmlUrl,\n    securityScore: security.score,\n    performanceScore: performance.score,\n    practicesScore: practices.score,\n    compositeScore: compositeScore,\n    verdict: verdict,\n    securitySummary: security.summary,\n    performanceSummary: performance.summary,\n    practicesSummary: practices.summary,\n    securityFindings: security.findings || [],\n    performanceFindings: performance.findings || [],\n    practicesFindings: practices.findings || [],\n    executionTimeMs: Date.now() - prData.startTime\n  }\n}];"
      },
      "id": "node-score",
      "name": "Compute Review Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1950,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO code_reviews (pr_number, repo, author, branch, title, sha, security_score, performance_score, practices_score, composite_score, verdict, security_findings, performance_findings, practices_findings, ai_model, execution_time_ms) VALUES ({{ $json.prNumber }}, '{{ $json.repo }}', '{{ $json.author }}', '{{ $json.branch }}', '{{ $json.title.replace(/'/g, \"''\") }}', '{{ $json.sha }}', {{ $json.securityScore }}, {{ $json.performanceScore }}, {{ $json.practicesScore }}, {{ $json.compositeScore }}, '{{ $json.verdict }}', '{{ JSON.stringify($json.securityFindings).replace(/'/g, \"''\") }}'::jsonb, '{{ JSON.stringify($json.performanceFindings).replace(/'/g, \"''\") }}'::jsonb, '{{ JSON.stringify($json.practicesFindings).replace(/'/g, \"''\") }}'::jsonb, 'claude-sonnet-4-6', {{ $json.executionTimeMs }}) RETURNING id, composite_score, verdict;",
        "options": {}
      },
      "id": "node-postgres",
      "name": "Store in PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2850,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "cNyl1K5QF7hwC4ye",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node['Parse Formatted Review'].json.compositeScore }}",
                    "rightValue": 80,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node['Parse Formatted Review'].json.compositeScore }}",
                    "rightValue": 50,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Request Changes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node['Parse Formatted Review'].json.compositeScore }}",
                    "rightValue": 50,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reject"
            }
          ]
        },
        "options": {}
      },
      "id": "node-switch",
      "name": "Review Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $node['Parse Formatted Review'].json.repo }}/pulls/{{ $node['Parse Formatted Review'].json.prNumber }}/reviews",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ commit_id: $node[\"Parse Formatted Review\"].json.sha, body: $node[\"Parse Formatted Review\"].json.reviewBody, event: \"APPROVE\" }) }}",
        "options": {}
      },
      "id": "node-approve",
      "name": "Post Approved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3350,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1M12T0Y7Ova8loxW",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $node['Parse Formatted Review'].json.repo }}/pulls/{{ $node['Parse Formatted Review'].json.prNumber }}/reviews",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ commit_id: $node[\"Parse Formatted Review\"].json.sha, body: $node[\"Parse Formatted Review\"].json.reviewBody, event: \"COMMENT\" }) }}",
        "options": {}
      },
      "id": "node-changes",
      "name": "Post Changes Requested",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3350,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1M12T0Y7Ova8loxW",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $node['Parse Formatted Review'].json.repo }}/pulls/{{ $node['Parse Formatted Review'].json.prNumber }}/reviews",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ commit_id: $node[\"Parse Formatted Review\"].json.sha, body: $node[\"Parse Formatted Review\"].json.reviewBody, event: \"COMMENT\" }) }}",
        "options": {}
      },
      "id": "node-reject-review",
      "name": "Post Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3350,
        520
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1M12T0Y7Ova8loxW",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{/* REPLACE WITH YOUR SLACK WEBHOOK URL */ 'https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"{{ $node['Compute Review Score'].json.verdict === 'APPROVE' ? '\\u2705' : $node['Compute Review Score'].json.verdict === 'REQUEST_CHANGES' ? '\\u26a0\\ufe0f' : '\\u274c' }} AI Code Review: {{ $node['Compute Review Score'].json.verdict }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        { \"type\": \"mrkdwn\", \"text\": \"*PR:* <{{ $node['Compute Review Score'].json.htmlUrl }}|#{{ $node['Compute Review Score'].json.prNumber }} {{ $node['Compute Review Score'].json.title }}>\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Author:* {{ $node['Compute Review Score'].json.author }}\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Branch:* `{{ $node['Compute Review Score'].json.branch }}` \\u2192 `{{ $node['Compute Review Score'].json.baseBranch }}`\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Score:* {{ $node['Compute Review Score'].json.compositeScore }}/100\" }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Breakdown:*\\n\\u2022 Security: {{ $node['Compute Review Score'].json.securityScore }}/100 ({{ $node['Compute Review Score'].json.securityFindings.length }} findings)\\n\\u2022 Performance: {{ $node['Compute Review Score'].json.performanceScore }}/100 ({{ $node['Compute Review Score'].json.performanceFindings.length }} findings)\\n\\u2022 Best Practices: {{ $node['Compute Review Score'].json.practicesScore }}/100 ({{ $node['Compute Review Score'].json.practicesFindings.length }} findings)\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        { \"type\": \"mrkdwn\", \"text\": \"Reviewed in {{ Math.round($node['Compute Review Score'].json.executionTimeMs / 1000) }}s | {{ $node['Compute Review Score'].json.totalFindings }} total findings | {{ $node['Compute Review Score'].json.criticalCount }} critical\" }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "node-slack",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2950,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, reviewId: $node['Store in PostgreSQL'].json.id || 'generated', verdict: $node['Parse Formatted Review'].json.verdict, compositeScore: $node['Parse Formatted Review'].json.compositeScore, scores: { security: $node['Parse Formatted Review'].json.securityScore, performance: $node['Parse Formatted Review'].json.performanceScore, practices: $node['Parse Formatted Review'].json.practicesScore }, totalFindings: $node['Parse Formatted Review'].json.totalFindings, executionTimeMs: $node['Parse Formatted Review'].json.executionTimeMs }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3600,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-pr-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "GitHub PR Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        304
      ],
      "webhookId": "github-pr-review"
    },
    {
      "parameters": {
        "jsCode": "const prData = $node['Extract PR Data'].json;\nconst diffData = JSON.stringify($input.first().json).substring(0, 8000);\n\nconst securitySystem = `You are a senior security engineer doing automated code review.\nAnalyze the code diff for: SQL injection, XSS, CSRF, auth bypasses, hardcoded secrets, path traversal, command injection, OWASP Top 10.\n\nSCORING RULES:\n- 0-20: Critical vulnerabilities found (SQL injection, hardcoded secrets, no auth)\n- 21-40: High severity issues found\n- 41-60: Medium issues found\n- 61-80: Minor issues only\n- 81-100: No security issues found\n\nBe STRICT. If you find SQL injection or hardcoded secrets, the score MUST be below 20.\n\nReturn ONLY valid JSON:\n{\n  \"score\": <0-100 where 0 is worst and 100 is perfectly secure>,\n  \"severity\": \"critical|high|medium|low|none\",\n  \"findings\": [{\"type\": \"string\", \"severity\": \"critical|high|medium|low\", \"file\": \"string\", \"line\": \"string\", \"description\": \"string\", \"suggestion\": \"string\"}],\n  \"summary\": \"string\"\n}`;\n\nconst performanceSystem = `You are a senior performance engineer doing automated code review.\nAnalyze for: N+1 queries, missing indexes, memory leaks, unoptimized loops, blocking I/O, missing pagination, missing caching, sync that should be async.\n\nSCORING RULES:\n- 0-20: Critical performance issues (N+1 queries in loops, memory leaks)\n- 21-40: High impact issues\n- 41-60: Medium issues\n- 61-80: Minor optimizations needed\n- 81-100: No performance issues\n\nBe STRICT. N+1 queries inside a loop = score below 20.\n\nReturn ONLY valid JSON:\n{\n  \"score\": <0-100 where 0 is worst and 100 is perfectly optimized>,\n  \"severity\": \"critical|high|medium|low|none\",\n  \"findings\": [{\"type\": \"string\", \"severity\": \"critical|high|medium|low\", \"file\": \"string\", \"line\": \"string\", \"description\": \"string\", \"suggestion\": \"string\", \"impact\": \"string\"}],\n  \"summary\": \"string\"\n}`;\n\nconst practicesSystem = `You are a senior software architect doing automated code review.\nAnalyze for: SOLID violations, missing error handling, poor naming, code duplication, missing input validation, improper logging, excessive complexity, missing tests, anti-patterns.\n\nSCORING RULES:\n- 0-20: Fundamental violations (no error handling, no validation, anti-patterns everywhere)\n- 21-40: Major violations\n- 41-60: Several issues\n- 61-80: Minor improvements needed\n- 81-100: Clean, well-structured code\n\nReturn ONLY valid JSON:\n{\n  \"score\": <0-100 where 0 is worst and 100 is perfect quality>,\n  \"severity\": \"critical|high|medium|low|none\",\n  \"findings\": [{\"type\": \"string\", \"severity\": \"critical|high|medium|low\", \"file\": \"string\", \"line\": \"string\", \"description\": \"string\", \"suggestion\": \"string\", \"principle\": \"string\"}],\n  \"summary\": \"string\"\n}`;\n\nconst securityContent = 'Analyze this PR for security vulnerabilities:\\nPR: ' + prData.title + '\\nAuthor: ' + prData.author + '\\nBranch: ' + prData.branch + ' -> ' + prData.baseBranch + '\\n\\nChanged files:\\n' + diffData;\nconst performanceContent = 'Analyze this PR for performance issues:\\nPR: ' + prData.title + '\\nAuthor: ' + prData.author + '\\nChanges: +' + prData.additions + '/-' + prData.deletions + ' in ' + prData.changedFiles + ' files\\n\\nChanged files:\\n' + diffData;\nconst practicesContent = 'Analyze this PR for code quality and best practices:\\nPR: ' + prData.title + '\\nAuthor: ' + prData.author + '\\nDescription: ' + (prData.description || 'none') + '\\n\\nChanged files:\\n' + diffData;\n\nfunction buildBody(system, content) {\n  return {\n    system_instruction: { parts: [{ text: system }] },\n    contents: [{ parts: [{ text: content }] }],\n    generationConfig: { responseMimeType: 'application/json', temperature: 0.1 }\n  };\n}\n\nreturn [{\n  json: {\n    securityBody: buildBody(securitySystem, securityContent),\n    performanceBody: buildBody(performanceSystem, performanceContent),\n    practicesBody: buildBody(practicesSystem, practicesContent)\n  }\n}];"
      },
      "id": "node-prepare-ai",
      "name": "Prepare AI Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst allFindings = [\n  ...(d.securityFindings || []).map(f => ({...f, category: 'security'})),\n  ...(d.performanceFindings || []).map(f => ({...f, category: 'performance'})),\n  ...(d.practicesFindings || []).map(f => ({...f, category: 'practices'}))\n];\n\nconst prompt = `You are a senior code review editor. Below is the raw output from 3 AI agents that analyzed a pull request.\n\nYour job:\n1. DEDUPLICATE: Remove findings that describe the same issue on the same file:line. Keep the most detailed version with the highest severity.\n2. FORMAT: Produce a clean, professional GitHub PR review comment in Markdown.\n3. Group findings by severity (critical first, then high, then medium/low).\n4. Be concise but thorough.\n\nPR: ${d.title}\nAuthor: ${d.author}\nBranch: ${d.branch} -> ${d.baseBranch}\n\nScores:\n- Security: ${d.securityScore}/100\n- Performance: ${d.performanceScore}/100\n- Best Practices: ${d.practicesScore}/100\n- Composite: ${d.compositeScore}/100\n- Verdict: ${d.verdict}\n\nSecurity Summary: ${d.securitySummary}\nPerformance Summary: ${d.performanceSummary}\nBest Practices Summary: ${d.practicesSummary}\n\nAll raw findings (may contain duplicates across categories):\n${JSON.stringify(allFindings, null, 2)}\n\nReturn ONLY valid JSON:\n{\n  \"reviewBody\": \"<complete markdown review ready to post as GitHub PR comment>\",\n  \"uniqueFindings\": <number of unique findings after dedup>,\n  \"duplicatesRemoved\": <number removed>\n}`;\n\nconst body = {\n  system_instruction: { parts: [{ text: 'You are a code review formatting and deduplication expert. Produce clean, professional GitHub review comments. Return only valid JSON.' }] },\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { responseMimeType: 'application/json', temperature: 0.1 }\n};\n\nreturn [{ json: { ...d, formatBody: body } }];"
      },
      "id": "node-prepare-format",
      "name": "Prepare Format Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.formatBody) }}",
        "options": {}
      },
      "id": "node-ai-format",
      "name": "AI Format & Dedup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nlet reviewBody, uniqueFindings, duplicatesRemoved;\n\ntry {\n  const candidates = d.candidates;\n  if (candidates && candidates[0] && candidates[0].content) {\n    const parsed = JSON.parse(candidates[0].content.parts[0].text);\n    reviewBody = parsed.reviewBody;\n    uniqueFindings = parsed.uniqueFindings || 0;\n    duplicatesRemoved = parsed.duplicatesRemoved || 0;\n  }\n} catch (e) {\n  reviewBody = 'Failed to format review: ' + e.message;\n  uniqueFindings = 0;\n  duplicatesRemoved = 0;\n}\n\nconst prev = $node['Compute Review Score'].json;\n\nreturn [{\n  json: {\n    ...prev,\n    reviewBody: reviewBody,\n    totalFindings: uniqueFindings,\n    duplicatesRemoved: duplicatesRemoved,\n    criticalCount: [...(prev.securityFindings||[]), ...(prev.performanceFindings||[]), ...(prev.practicesFindings||[])].filter(f => f.severity === 'critical').length,\n    highCount: [...(prev.securityFindings||[]), ...(prev.performanceFindings||[]), ...(prev.practicesFindings||[])].filter(f => f.severity === 'high').length\n  }\n}];"
      },
      "id": "node-parse-format",
      "name": "Parse Formatted Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2650,
        300
      ]
    }
  ],
  "connections": {
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Extract PR Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PR Data": {
      "main": [
        [
          {
            "node": "Fetch PR Diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch PR Diff": {
      "main": [
        [
          {
            "node": "Prepare AI Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Security Analysis": {
      "main": [
        [
          {
            "node": "Merge AI Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Performance Analysis": {
      "main": [
        [
          {
            "node": "Merge AI Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Best Practices": {
      "main": [
        [
          {
            "node": "Merge AI Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge AI Results": {
      "main": [
        [
          {
            "node": "Compute Review Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Review Score": {
      "main": [
        [
          {
            "node": "Prepare Format Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in PostgreSQL": {
      "main": [
        [
          {
            "node": "Review Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Decision": {
      "main": [
        [
          {
            "node": "Post Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Changes Requested",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Approved": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Changes Requested": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Rejected": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub PR Webhook": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Requests": {
      "main": [
        [
          {
            "node": "AI Security Analysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Performance Analysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Best Practices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Format Request": {
      "main": [
        [
          {
            "node": "AI Format & Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Format & Dedup": {
      "main": [
        [
          {
            "node": "Parse Formatted Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Formatted Review": {
      "main": [
        [
          {
            "node": "Store in PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}